In [3]:
import os
import numpy as np
import pandas as pd

In [2]:
print(os.listdir())

['BMW.DE.csv', 'AAPL.csv', 'models', 'pandas', 'Time_Series_Analysis.ipynb', 'apple.csv', 'google.csv', 'exercise5.ipynb', 'SAP.DE.csv', 'exercise3.ipynb', 'GOOGL.csv', 'csv_prepare.ipynb', 'exercise7.ipynb', 'BABA.csv', 'exercise4.ipynb', 'LNC.csv', 'CRM.csv', 'tesla.csv', 'MSFT.csv', 'POAHF.csv', 'SAP.csv', 'exercise1.ipynb', 'NVDA.csv', 'exercise6.ipynb', 'exercise2.ipynb', 'VOW.DE.csv', '.ipynb_checkpoints', 'TSLA.csv', 'exercise8.ipynb', 'MSTF.csv']

In [ ]:
stocks = ['BABA', 'MSFT', 'CRM', 'NVDA', 'SAP.DE', 'AAPL', 'GOOGL']

In [26]:
data = pd.read_csv('AAPL.csv', sep='\t')
data.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2007-01-03,12.368571,11.700000,12.327143,11.971429,309579900.0,8.016820
1,2007-01-04,12.278571,11.974286,12.007143,12.237143,211815100.0,8.194759
2,2007-01-05,12.314285,12.057143,12.252857,12.150000,208685400.0,8.136404
3,2007-01-08,12.361428,12.182858,12.280000,12.210000,199276700.0,8.176582
4,2007-01-09,13.282857,12.164286,12.350000,13.224286,837324600.0,8.855811

In [27]:
data.iloc[0]

Date         2007-01-03
High            12.3686
Low                11.7
Open            12.3271
Close           11.9714
Volume       3.0958e+08
Adj Close       8.01682
Name: 0, dtype: object

In [ ]:
import matplotlib.pyplot as plt